@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.wrapper{
  width: 1280px;
  margin: 50px auto;
}
header{
  position: relative;
}
header .shop-cart{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #e7dede;
  z-index: 1000;
  box-shadow: 4px 5px 15px -7px #606060;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  padding: 20px;
  padding-bottom: 0;
}
header .shop-cart .empty h2{
  font-size: 20px;
  margin-bottom: 20px;
}
header .shop-cart .item .delete-icon{
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
  transform: scale(1.5);
}
header .shop-cart .item .delete-icon:hover{
  color: red;
  transform: scale(2);
}
header .shop-cart .summa{
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
header .shop-cart .item{
  width: 100%;
  float: left;
  margin-bottom: 20px;

}
header .shop-cart .item img{
  width: 80px;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
header .shop-cart .item p{
  color: #797979;
  font-weight: 600;
  font-size: 14px;
}
header .shop-cart-button{
  float: right;
  cursor: pointer;
  transition: color 500ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
}
header .logo{
  font-weight: 600;
  font-size: 20px;
}
header ul.nav{
  float: right;
  list-style: none;
}
header ul.nav li{
  display: inline;
  cursor: pointer;
  margin-left: 25px;
  transition: opacity 500ms ease;
}
header ul.nav li:hover{
  opacity: .5;
}
header .presentation{
  margin: 50px 0;
  background: url("./img/bg2.jpg") no-repeat;
  width: 100%;
  height: 594px;
  background-size:cover;
  background-position: center center;
  position: relative;
  background-blend-mode:multiply;
  background-color:#bcbcbc ;
}
header .presentation::after{
  content: 'Лучшие товары для вашего дома';
  position: absolute;
  top: 100px;
  left: 70px;
  width: 400px;
  color: white;
  font-size: 56px;
  font-weight: 600;

}
header .presentation::before{
  content: 'По низким ценам';
  position: absolute;
  top: 350px;
  left: 100px;
  width: 400px;
  color: white;
  font-size: 26px;
  font-weight: 600;

}
.categories div{
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  margin-bottom: 25px;
  padding: 10px 20px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .5s ease;
}
.categories div:hover{
  border-color: silver;
  transform: scale(1.1);
}
.full-item{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  overflow: auto;
}
.full-item > div{
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: white;
  border-radius: 9px;
}
main{
  display: flex;
  width: 100%;
  flex-wrap:wrap ;
  justify-content: space-evenly;
}
main .item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  position: relative;
  padding-bottom: 20px;

}
main .item img,
.full-item div img{
  width: 100%;
  cursor: pointer;
}
main h2, main p, main b,
.full-item h2, .full-item p, .full-item b
{
  margin: 10px 20px;
  color: #333;
}
main b,
.full-item b{
  color: #5fa36a;
}
main .add-to-cart,
.full-item .add-to-cart
{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width:35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius:50%;
  cursor: pointer;
  font-weight: 600;
}
footer{
  text-align: center;
  margin-top: 10px;
}